.cinema {
  width: 100%;
  padding: 1rem;
}

.cinema > nav{
  border: 1px solid #dedede;
  padding: 0rem 1rem;
  background-image: url("../../../assets/images/bg2.jpg");
}

.cinema > nav > ul {
}

.cinema > nav > ul > li > .nav-link {
  color: wheat;
  padding: 0.75rem !important;
  font-weight: 600;
}

.cinema > nav > ul > li > .nav-link:hover {
  background-color: gray;
}

.cinema > nav > ul > li > div > div > a {
  cursor: pointer;
  padding: 5px;
}

.cinema > nav > ul > li > div > div > a:hover {
  background-color: #6f6247;
}

.cinema-banner {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  overflow: hidden;
}

.cinema-banner > img {
  width: 100%;
}
