<div class="container backgroundseat" style="text-align: center" *ngIf="loading$">
  <div  class="seat">
  <tr *ngFor='let in of counter(5) ;let i = index'>
    <td *ngFor="let seat of getSeatByRow(i)" >
      <div (click)="optionTicket(seat)">
        <mat-icon style="width: 40px; height: 40px;">event_seat</mat-icon>
        <p>{{seat.rowIndex}}{{seat.columnIndex}}</p>
      </div>


    </td>


  </tr>
  </div>
  <div class="row">
    <div class="col-sm-1">
      <mat-icon>skip_previous</mat-icon>
    </div>
    <div class="col-sm-10">
      <div class="row" >
       <div class="col-sm-3 checkoutimg">
        <img src = "../../../assets/images/{{filmSession$.film.image}}" width="120px" height="180px">
       </div>
       <div class="col-sm-4 checkoutcinema">
        <table>
          <tr>
            <th>Tên phim: </th>
            <td>{{filmSession$.film.name}}</td>
          </tr>
          <tr>
            <th>Rạp: </th>
            <td>{{filmSession$.hall.cinema.name}}</td>
          </tr>
          <tr>
            <th>Phòng chiếu: </th>
            <td>{{filmSession$.hall.name}}</td>
          </tr>
          <tr>
            <th>Giờ chiếu: </th>
            <td>{{filmSession$.startFrom}}-{{filmSession$.endTo}}</td>
          </tr>
        </table>
       </div>
       <div class="col-sm-5 checkoutseatselect">
        <table>
          <tr>
            <th>Ghế: </th>
            <td>{{listseats$.length}}</td>
          </tr>
          <tr>
            <td> </td>
            <td><span *ngFor='let seat of listseats$ '>{{seat.rowIndex}}{{seat.columnIndex}},</span></td>
          </tr>
          <tr>
            <th>Tổng: </th>
            <td>{{sum$}}</td>
          </tr>
          <tr>
            <td> <img src="./assets/images/arrow.png"/></td>
            <td><button class="btn btn-danger">Thanh Toán</button></td>
          </tr>

        </table>
       </div>


      </div>

    </div>
    <div class="col-sm-1">
      <mat-icon>skip_next</mat-icon>

    </div>

  </div>


</div>
