<div class="pop_scroll" style="height: 519px;">
    <ul class="tab_st05">
        <li class="normal"><h3><a class="on" href="javascript:void(0);" id="Fee_General">Phòng Chiếu Phim<!--일반관--></a></h3></li>
        <li class="spc" id="specialCinemaList">
            <h3><a >Phòng Chiếu Đặc Biệt<!--스페셜관--></a></h3>
            <ul class="depth2"></ul>
        </li>
    </ul>
    <div class="charge_desc">
        <dl class="descBx" style="display: none;"></dl>
        <p class="note" id="feeGuide">Suất chiếu tiêu chuẩn là từ 08:00 - 17:00  |  Suất chiếu tối là từ 17:00 - 24:00  Quý khách mua vé U22 vui lòng xuất trình CMND tại quầy vé để rạp kiểm tra lại trước khi lấy vé vào rạp.
Vé khuyến mãi bao gồm:
- Big Smile Day: Khách hàng xem phim vào ngày thứ 2 cuối cùng của tháng với giá:50K/2D ;75K/3D</p>
    </div>
    <div class="tab_cont on"><h3><strong class="blind">Phòng Chiếu Phim</strong>
    </h3><div class="wrap_con_lr">
        <h4>
            <strong class="film_tit">2D Ghế Đôi</strong>
        </h4>
        <span class="con_right feeinfo">Giá vé ngày lễ được tính như ngày cuối tuần</span>
    </div>
    <table  class="table table-hover">
        <caption>2D Ghế Đôi</caption>
        <colgroup>
            <col style="width:12%">
            <col style="width:17%"><col>
            <col>
            <col>
            <col>
        </colgroup>
        <thead>
            <tr>
                <th scope="col" colspan="2" class="bl-none">Phân loại</th>
                <th scope="col">Người lớn</th><th scope="col">Học Sinh, Sinh Viên</th>
                <th scope="col">Người Cao Tuổi &amp; Trẻ Em</th><th scope="col">U22</th>
            </tr></thead><tbody><tr><th rowspan="2">Suất chiếu trước 17:00</th>
                <th scrope="row">Các ngày trong tuần<br>Thứ Hai - Thứ Năm</th>
                <td>110.000</td><td>Không áp dụng</td>
                <td>Không áp dụng</td><td>65.000</td>
            </tr>
            <tr>
                <td scope="row">Cuối tuần<br>Thứ Sáu - Chủ Nhật</td>
                <td>130.000</td><td>105.000</td><td>Không áp dụng</td>
                <td>Chỉ áp dụng thứ 6 : 65000d</td></tr><tr><th rowspan="2">Suất chiếu sau 17:00</th>
                    <th scrope="row">Các ngày trong tuần<br>Thứ Hai - Thứ Năm</th>
                    <td>110.000</td><td>Không áp dụng</td><td>Không áp dụng</td>
                    <td>65.000</td>
                </tr>
                <tr>
                    <td scope="row">Cuối tuần<br>Thứ Sáu - Chủ Nhật</td>
                    <td>130.000</td><td>105.000</td><td>Không áp dụng</td>
                    <td>Chỉ áp dụng thứ 6 : 65000d</td>
                </tr>  
             </tbody>
            </table>
            <div class="wrap_con_lr">
                <h4>
                    <strong class="film_tit">2D Ghế Tiêu Chuẩn</strong>
                </h4>
                <span class="con_right feeinfo">Giá vé ngày lễ được tính như ngày cuối tuần</span>
            </div>
            <table class="tbl_style02">
                <caption>2D Ghế Tiêu Chuẩn</caption>
                <colgroup><col style="width:12%">
                    <col style="width:17%">
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col" colspan="2" class="bl-none">Phân loại</th
                            th scope="col">Người lớn</th><th scope="col">Học Sinh, Sinh Viên</th>
                            <th scope="col">Người Cao Tuổi &amp; Trẻ Em</th><th scope="col">U22</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th rowspan="2">Suất chiếu trước 17:00 </th>
                        <th scrope="row">Các ngày trong tuần<br>Thứ Hai - Thứ Năm</th>
                        <td>85.000</td><td>Không áp dụng</td><td>Không áp dụng</td>
                        <td>55.000</td></tr><tr><td scope="row">Cuối tuần<br>Thứ Sáu - Chủ Nhật</td>
                            <td>105.000</td><td>80.000</td><td>Không áp dụng</td>
                            <td>Chỉ áp dụng thứ 6 : 55000d</td>
                        </tr>
                        <tr>
                            <th rowspan="2">Suất chiếu sau 17:00</th>
                            <th scrope="row">Các ngày trong tuần<br>Thứ Hai - Thứ Năm</th>
                            <td>85.000</td>
                            <td>Không áp dụng</td>
                            <td>Không áp dụng</td>
                            <td>55.000</td>
                        </tr>
                        <tr>
                            <td scope="row">Cuối tuần<br>Thứ Sáu - Chủ Nhật</td>
                            <td>105.000</td><td>80.000</td><td>Không áp dụng</td>
                            <td>Chỉ áp dụng thứ 6 : 55000d</td>
                        </tr> 
                      </tbody>
                    </table>
                    <div class="wrap_con_lr">
                        <h4>
                            <strong class="film_tit">2D Ghế VIP</strong>
                        </h4>
                        <span class="con_right feeinfo">Giá vé ngày lễ được tính như ngày cuối tuần</span>
                    </div>
                    <table  class="table table-hover">
                        <caption>2D Ghế VIP</caption>
                        <colgroup>
                            <col style="width:12%">
                            <col style="width:17%">
                            <col>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th scope="col" colspan="2" class="bl-none">Phân loại</th>
                                <th scope="col">Người lớn</th>
                                <th scope="col">Học Sinh, Sinh Viên</th>
                                <th scope="col">Người Cao Tuổi &amp; Trẻ Em</th>
                                <th scope="col">U22</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th rowspan="2">Suất chiếu trước 17:00</th>
                                <th scrope="row">Các ngày trong tuần<br>Thứ Hai - Thứ Năm</th>
                                <td>95.000</td>
                                <td>Không áp dụng</td>
                                <td>Không áp dụng</td>
                                <td>65.000</td>
                            </tr>
                            <tr>
                                <td scope="row">Cuối tuần<br>Thứ Sáu - Chủ Nhật</td>
                                <td>115.000</td><td>90.000</td>
                                <td>Không áp dụng</td>
                                <td>Chỉ áp dụng thứ 6 : 65000d</td>
                            </tr><tr><th rowspan="2">Suất chiếu sau 17:00</th>
                                <th scrope="row">Các ngày trong tuần<br>Thứ Hai - Thứ Năm</th>
                                <td>95.000</td><td>Không áp dụng</td>
                                <td>Không áp dụng</td>
                                <td>65.000</td>
                            </tr>
                            <tr>
                                <td scope="row">Cuối tuần<br>Thứ Sáu - Chủ Nhật</td>
                                <td>115.000</td><td>90.000</td><td>Không áp dụng</td>
                                <td>Chỉ áp dụng thứ 6 : 65000d</td>
                            </tr>  
                         </tbody>
                        </table>
                        <div class="wrap_con_lr">
                            <h4><strong class="film_tit">3D Ghế Đôi</strong></h4>
                            <span class="con_right feeinfo">Giá vé ngày lễ được tính như ngày cuối tuần</span>
                        </div>
                        <table class="table table-hover">
                            <caption>3D Ghế Đôi</caption>
                            <colgroup><col style="width:12%">
                                <col style="width:17%">
                                <col>
                                <col>
                                <col>
                                <col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col" colspan="2" class="bl-none">Phân loại</th>
                                    <th scope="col">Người lớn</th><th scope="col">Học Sinh, Sinh Viên</th>
                                    <th scope="col">Người Cao Tuổi &amp; Trẻ Em</th><th scope="col">U22</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th rowspan="2">Suất chiếu trước 17:00</th>
                                    <th scrope="row">Các ngày trong tuần<br>Thứ Hai - Thứ Năm</th>
                                    <td>130.000</td><td>Không áp dụng</td><td>Không áp dụng</td>
                                    <td>Không áp dụng</td>
                                </tr>
                                <tr>
                                    <td scope="row">Cuối tuần<br>Thứ Sáu - Chủ Nhật</td>
                                    <td>145.000</td><td>Không áp dụng</td><td>Không áp dụng</td>
                                    <td>Không áp dụng</td>
                                </tr>
                                <tr>
                                    <th rowspan="2">Suất chiếu sau 17:00</th>
                                        
                                    <th scrope="row">Các ngày trong tuần<br>Thứ Hai - Thứ Năm</th>
                                    <td>145.000</td><td>Không áp dụng</td>
                                    <td>Không áp dụng</td>
                                    <td>Không áp dụng</td>
                                </tr>
                                <tr>
                                    <td scope="row">Cuối tuần<br>Thứ Sáu - Chủ Nhật</td>
                                    <td>175.000</td>
                                    <td>Không áp dụng</td>
                                    <td>Không áp dụng</td>
                                    <td>Không áp dụng</td>
                                </tr>  
                             </tbody>
                            </table>
                            <div class="wrap_con_lr">
                                <h4>
                                    <strong class="film_tit">3D Ghế Tiêu Chuẩn</strong>
                                </h4>
                                <span class="con_right feeinfo">Giá vé ngày lễ được tính như ngày cuối tuần</span>
                            </div>
                            <table  class="table table-hover">
                                <caption>3D Ghế Tiêu Chuẩn</caption>
                                <colgroup>
                                    <col style="width:12%"><col style="width:17%">
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="col" colspan="2" class="bl-none">Phân loại</th>
                                        <th scope="col">Người lớn</th>
                                        <th scope="col">Học Sinh, Sinh Viên</th>
                                        <th scope="col">Người Cao Tuổi &amp; Trẻ Em</th>
                                        <th scope="col">U22</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th rowspan="2">Suất chiếu trước 17:00</th>
                                        <th scrope="row">Các ngày trong tuần<br>Thứ Hai - Thứ Năm</th>
                                        <td>105.000</td>
                                        <td>Không áp dụng</td>
                                        <td>Không áp dụng</td>
                                        <td>Không áp dụng</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">Cuối tuần<br>Thứ Sáu - Chủ Nhật</td>
                                        <td>120.000</td><td>Không áp dụng</td>
                                        <td>Không áp dụng</td><td>Không áp dụng</td>
                                    </tr>
                                    <tr>
                                        <th rowspan="2">Suất chiếu sau 17:00</th>
                                        <th scrope="row">Các ngày trong tuần<br>Thứ Hai - Thứ Năm</th>
                                        <td>120.000</td><td>Không áp dụng</td><td>Không áp dụng</td>
                                        <td>Không áp dụng</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">Cuối tuần<br>Thứ Sáu - Chủ Nhật</td>
                                        <td>150.000</td>
                                        <td>Không áp dụng</td>
                                        <td>Không áp dụng</td>
                                        <td>Không áp dụng</td>
                                    </tr>  
                                 </tbody>
                                </table>
                                <div class="wrap_con_lr">
                                    <h4><strong class="film_tit">3D Ghế VIP</strong></h4>
                                    <span class="con_right feeinfo">Giá vé ngày lễ được tính như ngày cuối tuần</span>
                                </div><table  class="table table-hover">
                                    <caption>3D Ghế VIP</caption>
                                    <colgroup>
                                        <col style="width:12%"><col style="width:17%">
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th scope="col" colspan="2" class="bl-none">Phân loại</th>
                                            <th scope="col">Người lớn</th>
                                            <th scope="col">Học Sinh, Sinh Viên</th>
                                            <th scope="col">Người Cao Tuổi &amp; Trẻ Em</th>
                                            <th scope="col">U22</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th rowspan="2">Suất chiếu trước 17:00</th>
                                            <th scrope="row">Các ngày trong tuần<br>Thứ Hai - Thứ Năm</th>
                                            <td>115.000</td>
                                            <td>Không áp dụng</td>
                                            <td>Không áp dụng</td>
                                            <td>Không áp dụng</td>
                                        </tr>
                                        <tr>
                                            <td scope="row">Cuối tuần<br>Thứ Sáu - Chủ Nhật</td>
                                            <td>130.000</td>
                                            <td>Không áp dụng</td>
                                            <td>Không áp dụng</td>
                                            <td>Không áp dụng</td>
                                        </tr>
                                        <tr>
                                            <th rowspan="2">Suất chiếu sau 17:00</th>
                                            <th scrope="row">Các ngày trong tuần<br>Thứ Hai - Thứ Năm</th>
                                            <td>130.000</td>
                                            <td>Không áp dụng</td>
                                            <td>Không áp dụng</td>
                                            <td>Không áp dụng</td>
                                        </tr>
                                        <tr>
                                            <td scope="row">Cuối tuần<br>Thứ Sáu - Chủ Nhật</td>
                                            <td>160.000</td>
                                            <td>Không áp dụng</td>
                                            <td>Không áp dụng</td>
                                            <td>Không áp dụng</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
</div>
