<h1 mat-dialog-title>Thêm Rạp</h1>
<div mat-dialog-content >
  <div class="card" xmlns="http://www.w3.org/1999/html">

    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label  >Tên Rạp:</label>
          <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Tên rạp là bắt buộc</div>
          </div>
        </div>
        <div class="form-group">
          <label for="area">Khu vực(Chọn một):</label>
          <select class="form-control" formControlName="name" id="area" name="area">
            <option *ngFor="let area of Areas" [value]="area" >{{area}}</option>

          </select>
          <div *ngIf="submitted && f.area.errors" class="invalid-feedback">
            <div *ngIf="f.area.errors.required">Bắt buộc chọn khu vực</div>
          </div>
        </div>
        <div class="form-group">
          <label for="add">Địa chỉ:</label>
          <input id ="add" type="text" formControlName="add" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.add.errors }" />
          <div *ngIf="submitted && f.add.errors" class="invalid-feedback">
            <div *ngIf="f.add.errors.required">Địa chỉ  là bắt buộc</div>
          </div>
        </div>
        <div class="form-group">
          <label for="city">Tỉnh:</label>
          <input id ="city" type="text" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
          <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
            <div *ngIf="f.city.errors.required">Tỉnh là bắt buộc</div>
          </div>
        </div>
<!--        <div class="form-group">-->
<!--          <label  >Địa chỉ:</label>-->
<!--          <input type="text" formControlName="adressID" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.addressId.errors }" />-->
<!--          <div *ngIf="submitted && f.addressId.errors" class="invalid-feedback">-->
<!--            <div *ngIf="f.addressId.errors.required">Địa chỉ rạp là bắt buộc</div>-->
<!--          </div>-->
<!--        </div>-->


        <div class="form-group" >
          <button mat-button  cdkFocusInitial [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Thêm
          </button>


        </div>


      </form>
    </div>

  </div>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Hủy</button>
  <!--  <button mat-button [mat-dialog-close]="submitted" cdkFocusInitial>Ok</button>-->
</div>


