<div class="header">
  <button *ngIf="user && user.role === '1'" style="float: left; " class="nav-link example-icon favorite-icon"  mat-icon-button color="warn" aria-label="Example icon button with a home icon" (click)="tranferManage()">
    <mat-icon>home</mat-icon>
  </button>

  <div class ="header-top">

    <div class ="header-top-login">
      <a *ngIf="user">{{user.name}}</a>
      <a *ngIf="user" (click)="logout()">>>></a>
      <a *ngIf="!user" (click)="tranferPageRegister()">Đăng ký</a>
      <a *ngIf="!user" (click)="tranferPageLogin()">Đăng nhập</a>
    </div>
  </div>

  <div class ="header-middle">
      <a href="/">BOOK MY SHOW</a>
  </div>

  <div class ="header-nav">
    <div class="header-nav-item">
      <span (click)="tranferPageFilm()">Phim</span>
    </div>

    <div class="header-nav-item">
      <span (click)="tranferPageCinema()">Rạp</span>
    </div>

    <div class="header-nav-item">
      <span (click)="tranferPageSale()">Khuyến mãi</span>
    </div>

    <div class="header-nav-item">
      <span (click)="tranferPageTicket()">Mua vé</span>
    </div>
  </div>
</div>
